*{
    margin:0; 
    padding:0;
}
body{
    
    background-image: url("https://img.freepik.com/vector-gratis/tonos-azules-fondo-acuarela_91008-275.jpg?w=1380&t=st=1664198064~exp=1664198664~hmac=a7546bd31baa2e975b4d297003017a628a3c0500374f0e7aca2fac453ab5645b");
    background-size: 100% 150%;
    background-repeat: no-repeat;
  }
header{
    width: 100%;
    overflow: hidden;
    background-color:#3A3B43;
    margin-bottom: 15px;
}
header nav {
	float:right;
	line-height:200px;
}
header nav a:hover {
	background:#394EE6;
	border-radius:50px;
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}
header .logo{
    color: #ffffff;
    font-size:  80px;
    line-height: 200px;
    float:left;
    font-family: Copperplate, Copperplate Gothic Light, fantasy
    
  
    
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
    /*
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
    */
}

footer{

    background-color: rgb(39, 36, 36);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.img{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
