@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

*{
    margin:0; 
    padding:0;
}
body{
    
    background-image: url("https://fondosmil.com/fondo/65203.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;
  }
  header{
    width: 100%;
    overflow: hidden;
    background-color: #072146;
    margin-bottom: 15px;
}
header nav {
	float:right;
	line-height:200px;
}
header nav a:hover {
	background:#394EE6;
	border-radius:50px;
}
.wrapper{
    width: 100%;
    max-width: 1500px;
    margin:auto;
    overflow: hidden;
}
header .logo{
    color: white;
    font-size:  80px;
    line-height: 200px;
    float:left;
    font-family: 'Dancing Script'; 
    
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
    
}

footer{

    background-color: #0e3061;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family: 'alegreya-light';
    font-size:18px;
    margin-top:48px;
    
}

footer .service{
    padding-top: 18px;
    text-align: center;
    padding-bottom: 10px;
    
}
footer .service a{
    color: white;
    
}
footer img{
    width: 30px;
    height: 30px;

}
.img{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
